/* Just to test if the CSS file is connected */

body {
    background-color: #172330;
    font-family: "Lato", sans-serif;
    color: white;
    text-align: center;
    width: 95%;
    margin: auto;
}


/* div {
    border: 2px solid red;
    width: 30%;
    height: 150px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
} */


/* @dirkduploy's CSS code */


/*@dirkduplooy Edit to see if it works-again*/


/* ========================================== */


/* @ZugZwang's CSS code */


/* ========================================== */


/* @Ryan-ED's CSS code */

/* Just adding some margins so that its not stuck to the edges. Can be removed if needed */
#desc {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Self explanatory. Sizing the images and atting some space at the bottom */
.image {
    height: 90px;
    margin-bottom: 15px;
}

.icon-header h3 {
    font-weight: 600;
    letter-spacing: 1px;
}

/* More margins for space and positioning */
.description {
    margin-top: 40px;
    margin-bottom: 80px;
}

.description p {
    font-size: 19.7px;
}

/* The lists are the only parts of the page with text not aligned center */
.description ul {
    text-align: left;
    font-size: 16px;
    margin-top: 45px;
    color: #5bc399;
}

/* Added some space around each list item. Also tried a technique to style the bullet points.
Changed the colour to the green that matches the original and then wrapped all the text in span tags.*/
.description li {
    margin: 20px;
}

/* Then I changes only the span colour back to the light grey shade */
.description span {
    color: #AAAEBD;
}

/* Added custom styling to the bootstrap button to more closely match the original */
.btn {
    background-color: #5BC399;
    padding: 18px;
    width: 200px;
    font-size: 15px;
    letter-spacing: 2px;
}

/* For responsive design (devices with screens smaller than 768 pixels) */
@media screen and (max-width: 768px) {

    /* Button moves to the left on smaller devices */
    .btn {
        float: left;
    }
}


/* ========================================== */