/* Just to test if the CSS file is connected */
div {
    border: 2px solid red;
    width: 30%;
    height: 150px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

/* @dirkduploy's CSS code */



/* ========================================== */

/* @ZugZwang's CSS code */



/* ========================================== */

/* @Ryan-ED's CSS code */



/* ========================================== */
