/* @dirkduploy's CSS code */

/*@dirkduplooy Edit to see if it works-again*/

/* ========================================== */

/* @ZugZwang's CSS code */
.navbar-brand {
    padding: 0px;
  }

.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}
.navbar-btn {
    background-color: transparent;
    color: #5bc399;
    border: 2px solid #5bc399;
    font-weight: 600;
    border-radius: 5px;
}

.navbar-btn:hover {
    background-color: #5bc399;
    color: white;
}



/* ========================================== */

/* @Ryan-ED's CSS code */



/* ========================================== */
