/* @dirkduploy's CSS code */

/*@dirkduplooy Edit to see if it works-again*/

/* ========================================== */

/* @ZugZwang's CSS code */
.navbar-brand {
    padding: 0px;
  }

.navbar-brand
{
    margin: 0;
    padding: 0;
}

.navbar-brand img
{
    max-height: 100%;
}

.navbar-btn {
    background-color: transparent;
    color: #5bc399;
    border: 2px solid #6ae2b0;
    font-weight: 400;
    border-radius: 5px;
}

.navbar-btn:hover {
    background-color: #5bc399;
    color: white;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }

  .navbar-collapse ul{
    text-align:center;
  }
  #navbar1 ul li a {
    color:white;
    text-align:center;
  }

  #navbar1 ul li a:hover {
    color: #5bc399;
    text-align:center;
  }

  #navbar1 ul li a:visited {
    color: white;
    text-align:center;
  }

  @media (max-width: 1030px) {

    .disapear {
      visibility: hidden;
    }

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        background-color: #6ae2b0;
        color: white;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }
  
    .navbar-nav>li {
        float: none;
    }
    
    .collapse.in{
        display:block !important;
    }

}

/* ========================================== */

/* @Ryan-ED's CSS code */



/* ========================================== */
